<h2><%= @round.name %></h2>

<% @players.each do |player| %>
  <b><%= player.name%></b>
  <br>
  Hits:
  <%= find_average_hits(player, @round.id) %>
  <br>
  Passes:
  <%= find_average_passes(player, @round.id) %>
  <br>
  <br>
<% end %>
